<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--EXCEL-1：在<httpRuntime中加入一下這句
    在匯出EXCEL時，如：Sa_Oc_NoCompleteOc.aspx
    通過控件匯出Excel時，当URL中存在“<,>,*,%,&,:,/”特殊字符时，页面会抛出A potentially dangerous Request.Path value was detected from the client异常。
    <httpRuntime requestValidationMode="2.0"/>  這句已合併為如下
    以及匯出大批量記錄的問題,要加入一下語句設定-->
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="10485760" maxQueryStringLength="1024000" />

    <!--<pages validateRequest="false" />-->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <authentication mode="Windows" />
    <!--
  I.Windows:   使用IIS验证方式
  II.Forms:   使用基于窗体的验证方式
  III.Passport:   采用Passport   cookie验证模式
  IV.None:   不采用任何验证方式
  里面内嵌Forms节点的属性涵义:
  I.Name:   指定完成身份验证的Http   cookie的名称.
  II.LoginUrl:   如果未通过验证或超时后重定向的页面URL，一般为登录页面，让用户重新登录
  III.Protection:   指定   cookie数据的保护方式.
  可设置为:   All   None   Encryption   Validation四种保护方式
  a.   All表示加密数据，并进行有效性验证两种方式
  b.   None表示不保护Cookie.
  c.   Encryption表示对Cookie内容进行加密
  d.   validation表示对Cookie内容进行有效性验证
  IV.   TimeOut:   指定Cookie的失效时间.   超时后要重新登录.
-->
  </system.web>
  <appSettings>
    <add key="WebDAL" value="SQLServerDAL" />
    <add key="FileUrl" value="ResFolder/" />
    <add key="ConnStr_DGSQL1_HR" value="Server=dgsql1;User id=sa;Pwd=4337069;Database=dghr" />
  </appSettings>
  <connectionStrings>
    <add name="ConnStr_DGSQL2_DB" connectionString="server=dgsql2;uid=sa;pwd=268709;database=dgcf_db; Connect Timeout=3600;Max Pool Size=100;Min Pool Size=2 "
      providerName="System.Data.SqlClient " />
    <add name="ConnStrOld" connectionString="server=dgpc-602;uid=sa;pwd=leexq;database=ERP_DB;Max Pool Size=100;Min Pool Size=2 "
      providerName="System.Data.SqlClient " />
    <add name="ConnStr_DGSQL2_PAD" connectionString="server=dgsql2;uid=sa;pwd=268709;database=dgcf_pad;Max Pool Size=100;Min Pool Size=2 "
      providerName="System.Data.SqlClient " />
    <add name="ConnStr_DGERP2_GEO" connectionString="server=dgerp2;uid=sa;pwd=268709;database=cferp;Max Pool Size=100;Min Pool Size=2 "
      providerName="System.Data.SqlClient " />
    <add name="dgcf_padConnectionString" connectionString="Data Source=dgsql2;Initial Catalog=dgcf_pad;Persist Security Info=True;User ID=sa;Password=268709"
      providerName="System.Data.SqlClient" />
    <add name="dgcf_dbConnectionString" connectionString="Data Source=dgsql2;Initial Catalog=dgcf_db;Persist Security Info=True;User ID=sa;Password=268709"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer xmlns="">
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <!--<handlers>
      
    </handlers>-->
    <!--EXCEL-2：在匯出Excel時，要加入一下這段，才可大批量匯出-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>