<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLServerDAL.Properties.Settings.dgcf_padConnectionString"
            connectionString="Data Source=dgsql2;Initial Catalog=dgcf_pad;Persist Security Info=True;User ID=sa;Password=268709"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>